@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
$mainColor:#1b191f;


/* 調整影片讓他變成背景 */
#myVideo {
    position:fixed;
    right: 0%;
    left: -7%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  
  /* 製作一個半透明視窗放在最底層 放置標題 */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    z-index: 999;
    left: 0;
    height: 27.5%;
  }
  
  /* 製作播放跟暫停按鈕的外觀 */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
 // 滑鼠移動到按鈕時會變白
  #myBtn:hover {
    background: #ddd;
    color: black;
    transition-duration: 0.2s;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    width: 100%;
    padding: 0 5%;
    background: #121212;
    position: relative;

    // 最下方區塊
    &::after{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5dvh;
        content:"Copyright©️2024 by BLVK Collection";
        color: #f1f1f1;
        background: rgba(27, 27, 27, 0.463);
        text-align: center;
        font-size: 1.5dvw;
    }

    &::before{
        content: "";
        position: absolute;
        bottom: 6.5%;
        left: 0;
        background: $mainColor;
        width: 50%;
        height: 65dvh;
        z-index: -1;
    }
}

.area{
    width: 100%;
    display: flex;
}
// 左上角的Logo
.header{
    position: absolute;
    width: 60px;
    height: 60px;
    padding-top: 2%;
    right: 93%;

    img{
        width: 88px;
        height: 72px;
        
        
    }

}

.second{
    height: 65dvh;
    justify-content: space-between;
    align-items: center;


    }

// 此區塊調整商品的縮圖大小跟按鈕
.third{
    height: 60dvh;
    flex-direction: column;
    align-items: center;

    .blockArea{
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: space-between;
        .block{
            height: 100%;
            width: 30%;
            position: relative;
            top: 20% ;
            
            img{
                width: 100%;
                height: 100%;
                border: solid #8f8f8fe0;
                border-radius: 50%;
                
            }

            button{
                position: absolute;
                bottom: -75px;
                left:6rem;
                width:50%;
                height: 10%;
                font-size: 2.5dvw;
                background: $mainColor;
                color: rgb(200, 200, 200);
                border: none;
                transition: 0.5s;
                border-radius: 5px;
                a{
                    color: #f1f1f1;
                    text-decoration: none;

                }
                
                // 鼠標移到按鈕時放大
                &:hover{
                    scale: 1.05;
                }
                // 鼠標移到按鈕時縮小
                &:active{
                    scale: 0.95;
                }
            }
        }
    }
}
// 分隔線
.lineArea{
    width: 100%;
    height: 100%;
    border: 5px solid rgba(241, 241, 241, 0);
    margin: 15% 0%;
}

// 其他商品的縮圖、資訊、按鈕
.fourth{
    height: 65dvh;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);

    .cradArea{
        margin-top: 2%;
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: space-between;
        position: relative;
        .card{
            width: 30%;
            height: 90%;
            box-shadow: 5px 5px 5px rgb(108, 107, 107);
            .card-text{
                    color: rgb(50, 50, 50);
            }
            
            .btn{
                position: absolute;
                bottom: 5%;
                background: rgb(49, 49, 49);
                border: none;
                width: 45%;
            }
        }
    }
}
// Official Site的按鈕
.btnArea{
    width: 100%;
    height: 5dvh;
    display: flex;
    justify-content: center;

    button{
        font-size: 24px;
        width: 100%;
        height: 100%;
        background: $mainColor;
        color: rgb(200, 200, 200);
        border-radius: 5px;
        transition: 0.3s;
        border: none;
        box-shadow: 5px 5px 5px rgb(94, 94, 94);
        &:hover{
            scale: 1.05;
        }

        &:active{
            scale: 0.95;
        }
    }
}
// 最底層的詳細說明跟影片
.fifth{
    
    height: 80dvh;
    justify-content: space-between;
    margin-top: 10%;
    .fifthText{
        width: 35%;
        height: 480.6px;
        background:#0303039d;
        padding: 5% 4%;
        color: rgb(200, 200, 200);
        
    }

    img{
        width: 774px;
        height: 480.6px;
    }
}
